.content {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  .header, .footer{
    width: 100%;
    position: fixed;        
    background: #000026;
    color: #fff;
    opacity: 1;
    text-align: center;
}
.header{
    top: 0;
}
.footer{
    bottom: 0;
}
img{
    height: 50px;
    width: 50px;
}